<p>
  header works!
</p>
<div class="header__wrapper">
  <img src="../../../assets/logo.png" alt="Logo">
  <form>
    <mat-form-field>
      <input matInput type="text" name="search" id="search" placeholder="What are you want to find out?">
      <button mat-flat-button>search</button>
    </mat-form-field>
  </form>
  <button mat-button class="header__btn header__btn--sort">
    <img src="../../../assets/sort.svg" alt="sort">
  </button>
  <div class="header__user-login">
    <p>Your Name</p>
    <button class="header__btn header__btn--user"><img src="../../../assets/login.svg" alt="user login"></button>
  </div>
</div>
<app-search-sorting></app-search-sorting>
<app-user-login></app-user-login>
