<div class="header__wrapper">
  <div class="header__main">
    <img src="../../../assets/logo.svg" alt="Logo">
    <form #myForm="ngForm">
      <mat-form-field class="input__wrapper">
        <mat-label></mat-label>
        <input matInput type="text" name="search" id="search" placeholder="What are you want to find out?" [(ngModel)]="search">
      </mat-form-field>
      <button mat-flat-button class="input__btn" color="primary" type="submit" (click)="submit()">search</button>
    </form>
    <button (click)="toggleDisplay()" mat-flat-button color="primary" class="header__btn header__btn--sort"><img src="../../../assets/sort.svg" alt="sort"></button>
  </div>
  <div class="header__user-login">
    <p>Your Name</p>
    <button mat-flat-button color="primary" class="header__btn header__btn--user"><img src="../../../assets/login.svg" alt="user login"></button>
  </div>
</div>
