:host {
  display: block;
  background-color: #E5E5E5;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn {
  width: 25px;
  height: 25px;
  background-color: #2F80ED;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 0px 4px #2F80ED;
}

.header__btn img {
  object-fit: contain;
}


