:host {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search__item {
  box-sizing: border-box;
  margin-top: 20px;
  width: 30%;
}

.mat-card {
  background-color: #E5E5E5;
  padding: 40px;
}

.mat-card-title {
  color: #4F4F4F;
}
