
:host {
  display: block;
  background-color: #E5E5E5;
  width: 100%;
}

.header__img {
  margin-right: 20px;
}

.header__wrapper {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.header__main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin-right: 10%;
}

form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 15px;
  width: 50%;
}

.mat-form-field {
  min-width: 90%;
}

#search {
  background-color: #EFEFEF;
  padding: 8px 0px;
  margin-bottom: -8px;
  padding-left: 15px;
}

#search::placeholder {
  padding-left: 5px;
}

.input__btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 2px 0px 4px #673ab7;

}

.header__btn {
  padding: 0;
  box-shadow: 2px 0px 4px #673ab7;
  min-width: 35px;


  img {
    width: 25px;
    height: auto;
  }
}

.header__user-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__user-name {
  margin-right: 15px;
}

.header__user-logout {
  margin-left: 25%;
  margin-bottom: 10px;
}

