<div class="header__wrapper">
  <div class="header__main">
    <img class="header__img" src="../../../assets/logo.svg" alt="Logo">
    <form #myForm="ngForm">
      <mat-form-field class="input__wrapper">
        <mat-label></mat-label>
        <input matInput type="text" name="search" id="search" placeholder="What are you want to find out?" [formControl]="searchText">
      </mat-form-field>
    </form>
    <button (click)="toggleDisplay()" mat-flat-button color="primary" class="header__btn header__btn--sort"><img src="../../../assets/sort.svg" alt="sort"></button>
  </div>
  <div class="header__login-wrapper">
  <div class="header__user-login">
    <p class="header__user-name">{{userName}}</p>

    <button mat-flat-button color="primary" class="header__btn header__btn--user"><img src="../../../assets/login.svg" alt="user login"></button>
  </div>
  <div class="header__user-logout" *ngIf='show'>
    <button mat-flat-button color="primary" *ngIf="show" (click)="logout()" class="btn btn-danger">Logout</button>
  </div>
  </div>
</div>
