<mat-card>
  <mat-card-content>
    <form>
      <div fxLayout="column">
      <mat-form-field class="input__wrapper">
        <mat-label></mat-label>
        <input matInput type="text" name="search" id="search" placeholder="What are you want to find out?">
      </mat-form-field>
      <mat-form-field class="input__wrapper">
        <mat-label></mat-label>
        <input matInput type="text" name="search" id="search" placeholder="What are you want to find out?">
      </mat-form-field>
    </div>
      <button mat-flat-button type="submit" class="input__btn" color="primary">search</button>

    </form>
  </mat-card-content>
</mat-card>
