<mat-card appBorderColor [itemDate]="publicDate">
  <img mat-card-image [src]="itemCard.snippet.thumbnails.high.url" alt="">
  <mat-card-content>
    <mat-icon svgIcon="viewed" aria-hidden="false"></mat-icon>
    <mat-card-subtitle>{{itemCard.statistics.viewCount}}</mat-card-subtitle>
    <mat-icon svgIcon="liked" aria-hidden="false"></mat-icon>
    <mat-card-subtitle>{{itemCard.statistics.likeCount}}</mat-card-subtitle>
    <mat-icon svgIcon="dislike" aria-hidden="false"></mat-icon>
    <mat-card-subtitle>{{itemCard.statistics.dislikeCount}}</mat-card-subtitle>
    <mat-icon svgIcon="comments" aria-hidden="false"></mat-icon>
    <mat-card-subtitle>{{itemCard.statistics.commentCount}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-title>{{itemCard.snippet.title}}</mat-card-title>
  <button [routerLink]="['item', itemCard.id]"  mat-flat-button class="card__btn" color="primary">more...</button>
</mat-card>

