.mat-card {
  background-color: #E5E5E5;
  padding: 40px;
  padding-bottom: 20px;
}

.mat-card-title {
  color: #4F4F4F;
  min-height: 90px;
}

.mat-card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mat-card-subtitle {
  margin-bottom: 0;
  font-weight: 600;
}

.greenClass {
  border-bottom: 10px solid green;
}

.redClass {
  border-bottom: 10px solid red;
}

.yellowClass {
  border-bottom: 10px solid yellow;
}

.blueClass {
  border-bottom: 10px solid blue;
}

.card__btn {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}
