.mat-card {
  background-color: #E5E5E5;
  padding: 40px;
}

.mat-card-title {
  color: #4F4F4F;
}

.greenClass {
  border-bottom: 10px solid green;
}

.redClass {
  border-bottom: 10px solid red;
}

.yellowClass {
  border-bottom: 10px solid yellow;
}

.blueClass {
  border-bottom: 10px solid blue;
}